.animal-list {
  list-style: none;
  padding: 0.3rem;
  border-radius: 5px;
}
.animal-list:nth-child(2n) {
  background-color: rgb(232, 209, 178);
}
.animal-list:nth-child(2n + 1) {
  background-color: rgb(245, 228, 204);
}
